body {
 background-color: #002769;
 background-image:url("https://www.transparenttextures.com/patterns/strange-bullseyes.png") ;
}

* {
    font-family: 'PT Sans', sans-serif;;
}

.logo {
    margin-left: 1px;
    height: 10px;
    width: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}

.whiteText {
    flex-wrap: wrap;
}
.balance {
    background-color: #002769;
    width: fit-content;
    flex-wrap: wrap;
}

.transaction {
    background-color: #002769;
    width: fit-content;
    flex-wrap: wrap;
}

.bluetext {
    color: black;
    text-align: right;
}

.contactname {
    color: black;
}

.mainfootersection1 {
    background-color: rgb(187, 187, 187);
    height: 20%;
    font-size: large;
    display: flex;
    justify-content: space-around;
}
 
.NavLinks {
    color:white;
    background-color:#002769;
    
    /* height: 30px; */
}

.payperiod {
    background-color: rgb(187, 187, 187);
    font-size: large;
}

.Taxes {
color: black;
flex-direction: column;
}

.Questions {
    color: black;
    background-color: rgb(187, 187, 187);
}

.indexcontentone {
    justify-content: left;
}