body {
 background-color: #002769;
 background-image:url("https://www.transparenttextures.com/patterns/strange-bullseyes.png") ;
}

* {
    font-family: 'PT Sans', sans-serif;;
}


.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}

.whiteText {
    flex-wrap: wrap;
}
.balance {
    background-color: #002769;
    width: fit-content;
    flex-wrap: wrap;
}

.transaction {
    background-color: #002769;
    width: fit-content;
    flex-wrap: wrap;
}

.bluetext {
    color: black;
    text-align: right;
}

.contactname {
    color: black;
}

.mainfootersection1 {
    background-color: rgb(187, 187, 187);
    height: 20%;
    font-size: large;
    display: flex;
    justify-content: space-around;
}
 
.NavLinks {
    color:rgb(255, 255, 255);
    background-color:#5c739c;
    height: 80px;
    margin-top: 15px;
    width: 20vh;
    font-size: larger;
}

a:hover{
    color: white;
}


.payperiod {
    background-color: rgb(187, 187, 187);
    font-size: large;
}

.Taxes {
color: black;
flex-direction: column;
font-size: x-large;
}

.Questions {
    color: black;
    background-color: rgb(187, 187, 187);
    font-size: x-large;
}

.indexcontentone {
    justify-content: left;
}

.currenttext {
    flex-direction: column;
}

.Transactiontd {
    flex-wrap: wrap;
}

.whiteText {
font-size: 60px;
}

.nav {
    background-color: rgb(187, 187, 187);
    width: auto;
    height: 10vh;
}

.logoimg {
    height: 17vh;
    position: relative;
    right: 21vh;
    bottom: 4vh;
}

.NavLinksh2 {
    margin-left: 30px;
    bottom: 5vh;
}

.footerimg {
    justify-content: center;
}